body {
    font-family: "system-ui";
    padding: 36px 64px;
    margin: 25;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-image: url("45degreee_fabric.png") ;
    background-size: 100%;
  }
  
   header {
    margin-bottom: 25px;
    text-align: center;
    font-size: 75px;
  }
  header > p {
    margin-top: 0;
    text-align: center;
    
  }
  
  nav li {
    display: inline-block;
    margin: 0 12px;
  
  }

  table, th, td {
    width: auto;
    border: 1px solid black;
    border-collapse: collapse;
     }
  
 th { background-color: lightgrey;
  height: 30px;

 }
 td {background-color: lightyellow;
    text-align: left;
    width: 200px;
    height: 25px;
    padding: 10px;
    
}

  h1 {
    margin: 0;
    font-size: 64px;
    margin-left: -5px;
  }
  
  h2 {
    text-align: center;
    color: purple;
    
  }

  h3 {
    text-align: center;
    color: purple;
  }
  
  h4 {
    text-align: justify;
    color: black;
    font-size: 26px;
    margin-top: 26px;
    Margin-bottom: 10px;
  }

  h5 {
    text-align: center;
    margin: 15px;
    font-size: 20px;
    margin-left: -5px;

   }
    #profile-picture {
    float: left;
    width: 300px;
    margin-right: 24px;
    margin-bottom: 15px;
    margin-top: 6px;
    }

    #items-needed {
      float: left;
      width: 450px;
      margin-right: 24px;
      margin-bottom: 15px;
      margin-top: 100px;
    }
    
     
li{
  margin: 10px 0;
}

  
  