body {
    font-family: "system-ui";
    padding: 36px 64px;
    margin: 25;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-image: url("45degreee_fabric.png") ;
    background-size: 100%;
  }
  
   header {
    margin-bottom: 25px;
    text-align: center;
    font-size: 75px;
  }
  header > p {
    margin-top: 0;
    text-align: center;
    
  }
  
  nav li {
    display: inline-block;
    margin: 0 12px;
    font-size: 25px;
  
  }

  table, th, td {
    width: auto;
    border: 1px solid black;
    border-collapse: collapse;
     }
  
 th { background-color: lightgrey;
  height: 30px;

 }

td {
   background-color: rgb(120, 174, 245);
    text-align: left;
    width: 200px;
    height: 25px;
    padding: 10px;
    
}

  h1 {
    margin: 0;
    font-size: 64px;
    margin-left: -5px;
  }
  
  h2 {
    font-size: 30px;
    text-align: center;
    color: purple;
    margin-top: 70px;
    margin-bottom: 0%;
    
  }

  h3 {
    text-align: center;
    color: purple;
    padding-top: 30px;
  }
  
  h4 {
    text-align: justify;
    color: black;
    font-size: 26px;
    margin-top: 26px;
    Margin-bottom: 10px;
  }

  h5 {
    text-align: center;
    margin: 15px;
    font-size: 20px;
    margin-left: -5px;

   }
    #profile-picture {
    float: left;
    width: 300px;
    margin-right: 24px;
    margin-bottom: 15px;
    margin-top: 6px;
    }

    #items-needed {
      float: left;
      width: 450px;
      margin-right: 24px;
      margin-bottom: 15px;
      margin-top: 100px;
    }
    
     
li{
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 25px;

}

p{ text-align: left;
  margin-left: 70px;
  margin-right: 150px;
  margin-bottom: 70px;
  font-size: larger;
  max-width: 1100px;
  font-weight: bold;
}


 
}



img{
  padding-bottom: 20px;
  padding-top: 20px;
}

header,
section,
footer,
aside,
nav,
main,
article
figure{ display: block;
}


